<!-- Tab: Userscript -->
<div id="userscript-tab" class="tab-content">
    <div class="card">
        <h2>Userscript Installation</h2>
        <p class="info-text">
            Install the userscript to add download buttons directly to your Lidarr interface.
        </p>
        <ol class="install-steps">
            <li>Install <a href="https://www.tampermonkey.net/" target="_blank">Tampermonkey</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a> browser extension</li>
            <li>Click the button below to install the userscript</li>
            <li>The userscript will automatically use this microservice URL</li>
            <li>Navigate to Lidarr and look for download buttons on album and wanted pages</li>
        </ol>
        <a href="/userscript" class="btn btn-primary" target="_blank">📥 Install Userscript</a>
    </div>
</div>
